html {
    /* font-family: Open Sans, Arial, sans-serif; */
    /* padding: 0 15%; */
    margin: 0;
}

body {
    margin: 0;
}


/* NAVIGATION BAR */

ul li {
    list-style-type: none;
    display: inline;
    color: #ffffff;
    background-color: ;
}

a {
    padding: 1%;
}

header>nav>div {
    width: 10%;
    float: right;
    margin-top: -2em;
    color: #fff;
}

header nav {
    background: center no-repeat;
    background-size: 10em;
    background-color: #281b38;
    padding: 3% 15%;
    text-decoration: solid;
}

#logo {
    padding-top: 2em;
}

header>nav>ul>li>a {
    text-decoration: none;
    color: #ffffff;
}

#trait {
    background-color: #ffffff;
    width: 100%;
    height: 1px;
    margin: 0;
}


/* EN TETE */

#promoteNewApp {
    background: center bottom no-repeat;
    background-image: url(assets/img/map_bg.png);
    color: #ffffff;
    background-color: #281b38;
    padding: 0 15% 17em;
    margin: 0;
    text-align: center;
}

h1 {
    padding: 2em 0 0.5em 0;
    margin: 0;
}

button {
    color: #ffffff;
    background-color: #3d9f96;
    width: 20em;
    height: 3em;
    border-radius: 10px;
    margin: 0.5em 0 2em 0;
}

button:hover {
    cursor: pointer;
}

button>a {
    text-decoration: none;
    color: #ffffff;
}

.iconSocial {
    text-align: center;
    margin-top: -3em;
    background-color: #ffffff;
    padding: 1em 0 3em 0;
    width: 100%;
}

.iconSocial img {
    padding: 1em;
}


/* CONTENU1=CHECK OUR NEW APP  */

.grdTitre {
    font-size: x-large;
    text-align: left;
    padding: 3.5% 0;
}

.theBest {
    font-size: x-large;
    text-align: left;
    padding: 3.5% 22%;
}


}
p,
h1,
h2,
h3,
h4,
h5 {
    text-align: center;
    margin: 0;
    padding: 0;
}
p {
    font-size: 90%;
    color: #ababab;
}

/* Colonne newapp  */
.newApp {
    display: inline-flex;
    flex-direction: row;
    margin: 2% 0%;
    padding: 0 25% 5%;
}
.newApp>div.colonne>div {
    padding: 10% 0;
}
figure {
    width: 100%;
    margin: 0;
    padding: 0 4% 4%;
}
figcaption {
    text-align: left;
    padding: 4%;
}
.litmus {
    display: inline-flex;
    justify-content: center;
    flex-direction: row;
    padding: 4% 25% 4%;
    text-align: left;
}
.respons {
    display: inline-flex;
    justify-content: center;
    flex-direction: row;
    padding: 4% 25% 4%;
    text-align: left;
}
.respons>div {
    padding: 0 1%;
}

/* BANDE AU MILIEU  */
#bandeMilieu {
    text-align: center;
    background-color: #281b38;
    color: #ffffff;
    padding: 0 40% 2em 40%;
}
#bandeMilieu>img {
    padding: 2em;
}

/* CONTENU 3 = SCREENSHOTS */
.screenshoot {
    display: inline-flex;
    justify-content: center;
    flex-direction: row;
    padding: 0% 26% 4%;
}
#deuxiemeColonne {
    width: 100%;
}
#imageResponsive {
    width: 200%;
    margin: -4em;
    background: no-repeat center;
}
.contact {
    display: inline-flex;
    flex-direction: row;
    background-color: #f7f7f7;
    padding: 0 12%;
    margin: 0%;
}
.contact>div {
    padding: 0 3%;
}
.colonne {
    background: no-repeat center;
    align-items: center;
}
#play {
    margin: -105% 0 0 0;
    padding: 0px 0 0 17%;
}
footer {
    color: #ababab;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0% 15%;
    text-align: center;
    width: 66%;
}
.copyright {
    width: 100%;
}
.icon {
    width: 100%;
}